#trabajos {
    background-color: darkmagenta;
}

#trabajos .section-header {
    color: white;
}

#trabajos .section-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.job-item {
    text-align: center;
    margin: 1.5rem;
    transition: all .2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
}

.job-item:hover {
    transform: scale(1.05);
}

.job-image {
    margin-top: .5rem;
    width: 90%;
    border-radius: 5px;
}

.job-name {
    margin: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.modal-job-image {
    width: 100%;
    height: 40vh;
    margin: 1rem 0;
}

.modal-job-description {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: min-content;
    margin: 0 .5rem 1.5rem;
    text-align: justify;
}

.modal-link {
    color: #0d6efd;
    text-decoration: none;
}

.modal-link > i {
    margin-right: .25rem;
}

.modal-link:last-child {
    margin-left: .5rem;
}

@media (min-width: 425px) {

    .modal-job-image {
        width: auto;
    }

}


@media (min-width: 768px) {

    .job-item {
        width: 30%;
    }

}

@media (min-width: 1024px) {

    .job-item {
        width: 25%;
    }

}